<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.findeasily.website.mapper.ListingUtilityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="net.findeasily.website.domain.ListingUtility">
        <id column="listing_id" property="listingId" />
        <result column="AC" property="ac" />
        <result column="electricity" property="electricity" />
        <result column="water" property="water" />
        <result column="hot_water" property="hotWater" />
        <result column="heater" property="heater" />
        <result column="internet" property="internet" />
        <result column="parking" property="parking" />
    </resultMap>

</mapper>
